<div class="navbar navbar-inverse bg-indigo">
   <div class="navbar-header">
      <a class="navbar-brand" href="/survey">SURVEY SYSTEM</a>

      <ul class="nav navbar-nav pull-right visible-xs-block">
         <li><a data-toggle="collapse" data-target="#navbar-mobile"><i class="icon-tree5"></i></a></li>
      </ul>
   </div>

   <!-- Left nav -->
   <ul *ngIf="username" class="nav navbar-nav">
      <li><a href="/survey">Surveys</a></li>
      <li><a href="/create-survey">Create survey</a></li>
   </ul>
   <!-- /left nav -->

   <ul *ngIf="username" class="nav navbar-nav navbar-right">
         <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{username}} <span class="caret"></span></a>
            <ul class="dropdown-menu dropdown-menu-right">
               <li><a (click)="logout()">Logout</a></li>
            </ul>
         </li>
      </ul>
   <!-- <div class="navbar-collapse collapse" id="navbar-mobile">
      <ul class="nav navbar-nav navbar-right">
         <li>
            <a href="#">
               <i class="icon-user-tie"></i> <span class="visible-xs-inline-block position-right"> Contact admin</span>
            </a>
         </li>

         <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown">
               <i class="icon-cog3"></i>
               <span class="visible-xs-inline-block position-right"> Options</span>
            </a>
         </li>
      </ul>
   </div> -->
</div>
<!-- /main navbar -->
